{
  "presets": [["@babel/preset-env", {
    "modules": false,
    "targets": {
      "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
    },
    "corejs": 3,
    "useBuiltIns": "usage"
  }]],
  "ignore": [
    "./lib/js/comments-old.js"
  ],
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-transform-modules-commonjs", "@babel/plugin-syntax-dynamic-import"]
}
