<%- require('./components/header.ejs')({
    htmlWebpackPlugin: htmlWebpackPlugin,
    data: {
        title: '公司'
    }
}) %>
<div class="">
    234242423424242
</div>
<%- require('./components/footer.ejs')({
    htmlWebpackPlugin: htmlWebpackPlugin
}) %>
